.selector {
    border: 1px solid #b0b0b0;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    height: 28px;
}

.selector .header {
    padding: 8px;
}

.selector input[type="checkbox"] {
    display: none;
}

.option-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 28px;
    background-color: white;
    border: 1px solid #b0b0b0;
    width: 100%;
}

.selector input[type="checkbox"]:checked + .option-list {
    display: flex;
}

.option .container {
    display: flex;
    padding: 8px;
}

.option .container:hover {
    cursor: pointer;
    background-color: #1565c0;
    color: white;
}