* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}

.auth-form{
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

h1{
    font-family: 'Calibri';
}

.form-group{
    display: flex;
    flex-direction: column;
}

input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #b0b0b0;
    outline: none;
}

.submit{
    background-color: #1665c0;
    color: white;
    cursor: pointer;
}