.password-field{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border: 1px solid #606060;
    background-color: #404040;
    border-radius: 8px;
}

.password-field input{
    border: none;
    outline: none;
    background-color: transparent;
}

.password-field .icon{
    display: flex;
    align-items: center;
}