.navbar{
    position: fixed;
    top:0;
    left:0;
    height: 64px;
    width: 100%;
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
}

.navbar .link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
}

.navbar .link:hover{
    background-color: #404040;
}

.navbar .link.active{
    background-color: #808080;
    color: black;
}

