:root {
    --primary: #4F6FD9;
    --primary-light: #E4ECFF;
    --text-primary: #1F2A44;

    --secondary: #7F95B6;
    --secondary-light: #F1F5FA;
    --text-secondary: #44556F;
}

.app.dark {
    --primary: #9A63F2;
    --primary-light: #2F2247;
    --text-primary: #EDE9FF;

    --secondary: #5A4F73;
    --secondary-light: #262233;
    --text-secondary: #B8B4C8;
}