* {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px #d0d0d0;
    gap: 15px;
}

.card .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-between;
}

.card .profile hr{
    height: 2px;
    width: 100%;
    background: #F0F0F0;
}

.card .profile .picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.card .profile .picture img {
    width: 120%;
    object-fit: contain;
    object-position: -20px;
}

.card .title .name {
    font-size: 2.5rem;
    color: #303030;
    margin: 0;
    text-align: center;
}


.card .title .job {
    font-size: 1.6rem;
    font-weight: 400;
    color: #808080;
    margin: 0;
    text-align: center;
}

.card .bio {
    font-size: 1.2rem;
    color: #606060;
    line-height: 2rem;
}

.card .action {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
}

.card .action button {
    width: 50%;
    border: none;
    padding: 15px;
    border-radius: 8px;
}

.card .action .follow {
    background-color: #1565c0;
    color: white;
}

.card .action .message {
    background-color: #E5E5E5;
    color: black;
}

.card .user-stats{
    display: flex;
    justify-content: space-between;
    color: #606060;
}