.flex{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #85A0F0;
    padding: 10px;
}

.item{
    width: 40px;
    background-color: #F0A080;
}

.item:nth-child(3){
    display: flex;
    order: 1;
    align-self: center;
}

.item{
    display: flex;
    order: 2;
}